
<div class='container px-5 px-sm-0' style="padding: 40px;">
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div>
        <h2 style="width: fit-content; padding: 5px; border-radius:5px; background-color: #D76F6A; color: #fff;">商品情報編集</h2>
      </div>
          <%= form_with model: @item, url: admin_item_path(@item) do |f| %>
            <% if @item.errors.any? %>
              <div class="alert alert-warning">
                <ul>
                  <% @item.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <table class="table table-striped" style="background-color: #fff;">
              <tr>
                <td class="table-warning">
                  商品画像
                </td>
                <td>
                  <%= f.file_field :item_image %>
                </td>
              </tr>
              <tr>
                <td class="table-warning">
                  商品名
                </td>
                <td>
                  <%= f.text_field :name ,:placeholder => "商品名" %>
                </td>
              </tr>
              <tr>
                <td class="table-warning">
                  商品説明
                </td>
                <td>
                  <%= f.text_area :introduction ,:placeholder => "ここに説明文を記述します" %>
                </td>
              </tr>
              <tr>
                <td class="table-warning">
                  ジャンル
                </td>
                <td>
                  <%= f.collection_select(:genre_id, @genre, :id, :name) %>
                </td>
              </tr>
              <tr>
                <td class="table-warning">
                  税抜価格
                </td>
                <td>
                  <%= f.text_field :price ,:placeholder => "1000" %>
                </td>
              </tr>
              <tr>
                <td class="table-warning">
                  販売ステータス
                </td>
                <td>
                  <%= f.radio_button :is_active, :true %>
                  販売中

                  <%= f.radio_button :is_active, :false %>
                  販売停止中
                </td>
              </tr>
            </table>
            <div class="m-auto text-center">
              <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
            </div>
          <% end %>
          <div class="m-auto text-right">
            <%= link_to "戻る", admin_item_path(@item), class: "btn btn-sm btn-primary" %>
          </div>

    </div>
  </div>
</div>
