<div class='container px-5 px-sm-0' style="padding: 40px;">
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="d-flex justify-content-between" style="background-color: #fff;">
        <h2 class="d-flex justify-content-start" style="width: fit-content;">商品一覧</h2>
        <div class="d-flex justify-content-between" style="width: fit-content;">
          <%= link_to "＋", new_admin_item_path, class: "btn btn-lg btn-outline-dark rounded-circle p-0", style: "width:2rem;height:2rem;" %>
        </div>
      </div>
      <table class="table" style="background-color: #fff;">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td><%= link_to item.name,admin_item_path(item) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
                <span class="text-success">販売中</span>
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
