<div class='container my-5 bg-white' style="padding: 40px;">
  <div class='row d-flex justify-content-center'>
    <div class='col-md-10'>
      <div class="d-flex justify-content-between" style="background-color: #fff; padding: 5px;">
        <h2>商品一覧</h2>
        <div style="width: fit-content; color: #D76F6A;">
          <%= link_to "＋", new_admin_item_path, class: "btn btn-lg btn-outline-dark rounded-circle p-0", style: "width:2rem;height:2rem;" %>
        </div>
      </div>

      <table class="table table-striped" style="background-color: #fff;">
        <thead>
          <tr>
            <%= flash[:notice] %>
          </tr>
          <tr class="table-warning">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <% @items.each do |item| %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td><%= link_to item.name,admin_item_path(item) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
                <span class="text-success">販売中</span>
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if @total_pages > 1 %>
        <div class="m-auto">
          <div class="pagination d-flex justify-content-center">
            <div>
              <% (1..@total_pages).each do |page| %>
                <% if page == @current_page %>
                  <%= page %>

                <% else %>
                  <%= link_to page, admin_genres_path(page: page) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
