<div class='container my-5 bg-white' style="padding: 40px;">
  <div class='row'>
    <div class='col-md-5 offset-md-1'>
      <div>
        <h2 style="width: fit-content; padding: 5px; border-radius:5px; background-color: #D76F6A; color: #fff;">商品詳細</h2>
      </div>
      <div>
        <% if @item.item_image.attached? %>
          <%= image_tag @item.item_image, size: "200x200" %>
        <% else %>
          <%= image_tag 'AdobeStock_123378894_Preview.jpeg', size: "400x400" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table table-striped" style="margin-top: 60px; background-color: #fff;">
        <tr>
          <%= flash[:notice] %>
        </tr>
        <tr>
          <td class="table-warning">
            <h8>商品名</h8>
          </td>
          <td>
            <%= @item.name %>
          </td>
        </tr>
        <tr>
          <td class="table-warning">
            <h8>商品説明</h8>
          </td>
          <td>
            <%= @item.introduction %>
          </td>
        </tr>
        <tr>
          <td class="table-warning">
            <h8>税抜き価格</h8>
          </td>
          <td>
            <%= @item.price %>
          </td>
        </tr>
        <tr>
          <td class="table-warning">
            <h8>ジャンル</h8>
          </td>
          <td>
            <%= @item.genre.name %>
          </td>
        </tr>
        <tr>
          <td class="table-warning">
            <h8>ステータス</h8>
          </td>
          <td>
            <% if @item.is_active %>
              <span class="text-success">販売中</span>
            <% else %>
              販売停止中
            <% end %>
          </td>
        </tr>
      </table>
      <div class="text-right">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-sm btn-success mr-2" %>
        <%= link_to '削除', admin_item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger mr-2"%>
        <%= link_to "戻る", admin_items_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
