<div class='container my-5 bg-white' style="padding: 40px;">
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="d-flex justify-content-between" style="background-color: #fff; padding: 5px;">
        <h2 class="d-flex justify-content-start" style="width: fit-content; padding: 5px; border-radius:5px; background-color: #D76F6A; color: #fff;">お客様一覧</h2>
      </div>

      <table class="table table-striped" style="background-color: #fff;">
        <thead>
          <tr>
            <%= flash[:notice] %>
          </tr>
          <tr class="table-warning">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td><%= link_to "#{customer.last_name}#{customer.first_name}",admin_customer_path(customer) %></td>

            <td><%= customer.email %></td>
            <td>
              <% if customer.is_active %>
                <div class="text-success">有効</div>
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if @total_pages > 1 %>
        <div class="m-auto">
          <div class="pagination d-flex justify-content-center">
            <div>
              <% (1..@total_pages).each do |page| %>
                <% if page == @current_page %>
                  <%= page %>
                <% else %>
                  <%= link_to page, admin_genres_path(page: page) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
