<div class="container my-5 p-5 bg-white">
  <div class=" mx-auto ">
    <div class="row">
      <div>
        <h3 >会員情報編集</h3>
      </div>
      <div>
        <%= flash[:notice] %>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered mt-3">
        <div class="bg-info">
          <%= form_with model:@customer, local:true do |f| %>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :last_name, "氏名" %>
              </td>
              <td class="d-flex">

                  <%= f.text_field :last_name, class: "form-control last_name mr-3" %>


                  <%= f.text_field :first_name, class: "form-control first_name" %>

              </td>
            </tr>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :last_name_kana, "フリガナ" %>
              </td>
              <td class="d-flex">
                <%= f.text_field :last_name_kana, class: "form-control last_name_kana mr-3" %><%= f.text_field :first_name_kana, class: "form-control first_name_kana" %>
              </td>
            </tr>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :post_code, "郵便番号" %>
              </td>
              <td class="d-flex">
                <%= f.text_field :post_code, class: "form-control post_code" %>
              </td>
            </tr>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :address, "住所" %>
              </td>
              <td class="d-flex">
                <%= f.text_field :address, class: "form-control address" %>
              </td>
            </tr>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :telephone_number, "電話番号" %>
              </td>
              <td class="d-flex">
                <%= f.text_field :telephone_number, class: "form-control telephone_number" %>
              </td>
            </tr>
            <tr class="form-group">
              <td class="table-warning">
                <%= f.label :email, "メールアドレス" %>
              </td>
              <td class="d-flex">
                <%= f.text_field :email, class: "form-control email" %>
              </td>
            </tr>
            </table>
            <div class="form-group mx-auto">
              <div class="d-flex justify-content-center">
                <div>
                  <%= f.submit "編集内容を保存", class: 'btn btn-success text-white mr-5' %>
                  <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger text-white" %>
                </div>
              <%#= f.submit "退会する", class: 'btn btn-danger text-white' %>
              </div>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</div>