<div class="container py-5 overflow-hidden">

  <div class="row mx-auto">
    <div class="col-lg-3 order-lg-1 order-2">
      <%= render 'genre_searches/genre' ,genres: @genres %>
    </div>
    <div class="col-lg-9 order-1 ">
      <div >
        <%= image_tag 'AdobeStock_205380754_Preview.jpeg', class:"img-fluid", size:'max-width: 100%; , height: auto;' %>
        <div class="card-img-overlay text-center">
          <p>ようこそ、ながのCAKEへ！<br />
             このサイトは、ケーキ販売のECサイトになります。<br />
             会員でない方も商品の閲覧はできますが、<br />
             購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="m-4 d-flexr bg-white p-3">
          <h2>新着商品</h2>
          <div  class="row d-flex justify-content-center">
            <% @items.each do |items| %>
              <div class="col-md-5 col-sm-12 p-3 m-1">
                <div class="text-center">
                  <%= link_to item_path(items.id) do %>
                    <%= image_tag items.item_image, size:'150x150' %>
                  <% end %>
                </div>
                <div class="text-center"><%= link_to items.name, item_path(items.id) %></div>
                <div class="text-center">￥<%= (items.price * 1.1).floor %></div>
                <!--<div><%#= link_to (items.price * 1.1).floor, item_path(items.id) %></div>-->
              </div>
            <% end %>
          </div>
          <div class="justify-content-end">
            <%= link_to "全ての商品を見る＞" , items_path %>
          </div>
        </div>
    </div>
  </div>
</div>
