<div class="container overflow-hidden">
  <div class="row mx-auto">
    <div class="card">
      <%= image_tag 'AdobeStock_205380754_Preview.jpeg', class:"img-fluid", size:'max-width: 100%; , height: auto;' %>
      <div class="card-img-overlay text-center">
        <p>ようこそ、ながのCAKEへ！<br />
           このサイトは、ケーキ販売のECサイトになります。<br />
           会員でない方も商品の閲覧はできますが、<br />
           購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto my-5 py-3 bg-white">
    <div class="row m-5 d-flexr">
      <h2>新着商品</h2>
      <div class="mx-auto col-lg-2">
        <% @items.each do |items| %>
          <div>
            <div>
              <%= link_to item_path do %>
                <%= image_tag items_image, size:'100x100' %>
              <% end %>
            </div>
            <div><%= link_to name, item_path %></div>
            <div><%= link_to "￥" + add_tax_price.to_s(:delimited), item_path %></div>
          </div>
        <% end %>
      </div>
      <dev class="pull-right">
        <%= link_to "全ての商品を見る＞", items_path %>
      </div>
    </div>
  </div>
</div>