<div class="container bg-white my-5 py-5 overflow-hidden">
  <div class="row mx-5 mb-5">
    <div class="col d-flex align-items-end">
      <h2>商品一覧</h2>
      <p>(全<%= @items.count %>件)</p>
    </div>
  </div>

  <div class="row px-5">
    <div class="col col-lg-3 grid gap-3 mx-3">
      <% @items.each do |items| %>
        <div>
          <div class="text-center">
            <%= link_to item_path(items.id) do %>
              <%= image_tag items.item_image, size:'200x200' %>
            <% end %>
          </div>
          <div class="text-center"><%= link_to items.name, item_path(items.id) %></div>
          <div class="text-center">￥<%= (items.price * 1.1).floor %></div>
          <!--<div><%#= link_to "￥" + add_tax_price.to_s(:delimited), item_path %></div>-->
        </div>
      <% end %>
    </div>
  </div>
  <%= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
</div>