<div class="container bg-white">
  <div class="row m-5 pt-5">
    <h3>ログイン</h3>
  </div>
  <div class="row text-center mx-5 px-5">
    <p>会員の方はこちらからログイン</p>
  </div>

  <div class="center-block">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="teble">
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td>
          <div class="field mx-5">
            <%= f.email_field :email, autofocus: true, class: "email", placeholder:"sample@example.com", size: 60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td><%= f.label :password, "パスワード" %></td>
        <td>
          <div class="field mx-5">
            <%= f.password_field :password, autocomplete: "current-password", size: 60 %>
          </div>
        </td>
      </tr>
    </table>

    <div class="actions text-center pt-5">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="row py-5 mx-5 text-center">
    <div>
      <p>会員登録がお済みでない方</p>
      <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
    </div>
  </div>
</div>